html {
  font-family: "Noto Serif", serif;
}

header {
  background-color: #70ad55;
  color: #fff;
}

fieldset {
  border-style: none;
}

label {
  display: block;
}

textarea {
  height: 10em;
}

input:focus,
textarea:focus,
select:focus {
  border: 2px;
}

input,
textarea,
select {
  border-color: #6e8c62;
  border-width: 2px;
  border-style: solid;
  width: 20em;
}

button {
  background-color: #6e8c62;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
}

footer {
  background-color: #70ad55;
  color: #fff;
}
